    <h1>Login/Signup</h1>
    
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Login or Signup</button>
    </form>
    <p><b>Note:</b> If user doesnt exist, a new user will be created and client will be redirected to login route again.</p>
  </body>
</html>
