<h1>SIGN UP</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="UserName">
    <input type="password" name="password" placeholder="PAssWord">
    <button type="submit">SUBMIT</button>
</form>